.venv/
__pycache__/
.pytest_cache/
*.py[cod]
.env

weights/*.pt
weights/*.onnx
weights/*.engine
weights/plate_recognizer/*
!weights/plate_recognizer/.gitkeep
!weights/plate_recognizer/preprocessor/
weights/plate_recognizer/preprocessor/*
!weights/plate_recognizer/preprocessor/.gitkeep

input_images/*
!input_images/.gitkeep
output/*
!output/previews/
output/previews/*
!output/previews/.gitkeep

*.png
